/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Pone la misma fuente de letra para toda la página */
    font-family: "Montserrat";
}

/* CONTENEDOR DE LA PÁGINA */
.back-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR DE LA CITA Y LOS BOTONES */
.quote-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 35%;

    background-color: white;
    border-radius: 7px;
}

/* CONTENEDOR DE LA CITA Y EL AUTOR */
.quote-box {
    width: 100%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* h3 PARA LA CITA */
.quote-box h3 {
    width: 95%;
    text-align: justify;
}

/* párrafo para el autor */
.quote-box p {
    width: 95%;
    text-align: right;
}

/* CONTENEDOR DE CUALQUIER BOTÓN */
.btn-container {
    width: 20%;
    margin: 3%;
    display: flex;
    flex-direction: column-reverse;
}

/* CUALQUIER BOTÓN DENTRO DE SU CONTENEDOR */
.btn-container button {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    border: 0px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

/* CUALQUIER IMAGEN DENTRO DEL COLTENEDOR DE SU BOTÓN */
.btn-container img {
    width: 30%;
}